tools/loom-component-builder/Cargo.toml text eol=lf
tools/loom-component-builder/Cargo.lock text eol=lf
tools/loom-component-builder/src/main.rs text eol=lf
tools/loom-effectful-component-builder/Cargo.toml text eol=lf
tools/loom-effectful-component-builder/Cargo.lock text eol=lf
tools/loom-effectful-component-builder/src/main.rs text eol=lf
